$icomoon-font-family: "portfolio" !default;
$icomoon-font-path: "fonts" !default;

$icon-github: "\e903";
$icon-linkedin: "\e904";
$icon-menu: "\e905";
$icon-unsplash: "\e906";
$icon-youtube: "\e907";
$icon-chip: "\e900";
$icon-branch: "\e901";
$icon-laptop: "\e902";

