$yellow: #FFF73E;
$yellow-transparent: #FFF73E80;
$purple: #C003EF;
$purple-transparent: #C003EF80;
$orange: #EF5803;
$orange-transparent: #EF580380;
$gray: #343E47;
$gray-opaque: #282828;
$white: #fff;
$black: #000;

$pink-sweet: rgba(238,174,202,1);
$blue-sweet: rgba(148,187,233);